@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    width: 80%;
    padding-left: 10px;
}
input::placeholder{
    color: black;
    font-weight: 400;
}